%fieldset.comment-details-rating
  %input{ id: 'star5-cmt-' + id, name: 'rating-cmt-' + id, type: 'radio', value: '5', checked: (rating == 5 ? true : false) }
  %label.full{ for: 'star5-cmt-' + id }
  %input{ id: 'star4half-cmt-' + id, name: 'rating-cmt-' + id, type: 'radio', value: '4.5', checked: (rating == 4.5 ? true : false) }
  %label.half{ for: 'star4half-cmt-' + id }
  %input{ id: 'star4-cmt-' + id, name: 'rating-cmt-' + id, type: 'radio', value: '4', checked: (rating == 4 ? true : false) }/
  %label.full{ for: 'star4-cmt-' + id }
  %input{ id: 'star3half-cmt-' + id, name: 'rating-cmt-' + id, type: 'radio', value: '3.5', checked: (rating == 3.5 ? true : false) }
  %label.half{ for: 'star3half-cmt-' + id }
  %input{ id: 'star3-cmt-' + id, name: 'rating-cmt-' + id, type: 'radio', value: '3', checked: (rating == 3 ? true : false) }
  %label.full{ for: 'star3-cmt-' + id }
  %input{ id: 'star2half-cmt-' + id, name: 'rating-cmt-' + id, type: 'radio', value: '2.5', checked: (rating == 2.5 ? true : false) }
  %label.half{ for: 'star2half-cmt-' + id }
  %input{ id: 'star2-cmt-' + id, name: 'rating-cmt-' + id, type: 'radio', value: '2', checked: (rating == 2 ? true : false) }
  %label.full{ for: 'star2-cmt-' + id }
  %input{ id: 'star1half-cmt-' + id, name: 'rating-cmt-' + id, type: 'radio', value: '1.5', checked: (rating == 1.5 ? true : false) }
  %label.half{ for: 'star1half-cmt-' + id }
  %input{ id: 'star1-cmt-' + id, name: 'rating-cmt-' + id, type: 'radio', value: '1', checked: (rating == 1 ? true : false) }
  %label.full{ for: 'star1-cmt-' + id }
  %input{ id: 'starhalf-cmt-' + id, name: 'rating-cmt-' + id, type: 'radio', value: '0.5', checked: (rating == 0.5 ? true : false) }
  %label.half{ for: 'starhalf-cmt-' + id }
