.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  list-style: none;
  margin: auto;
  padding: 0;
}

.movie-item {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  height: 300px;
  margin: 10px;
  position: relative;
}

.movie-item p {
  position: absolute;
  margin: auto;
  bottom: 0;
  padding: 5px;
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: auto;
  white-space: normal;
  text-overflow: inherit;
  text-align: center;

  font-size: 13px;
  color: #fff;
  background: rgba(0, 0, 0, 0.85);

  box-sizing: border-box;
  z-index: 1;
  transition: all .5s;
}

.movie-item img {
  width: 100%;
  height: 100%;
  transition: all .5s;
}

.movie-item:hover img{
  transform: scale(1.1);
}

.movie-item:hover p{
  transform: scale(1.1);
}

.movie-item .rates {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 2px 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.85);
  font-weight: lighter;
  z-index: 1;
}

.movie-item .rates .rate-point {
  float: left;
  font-size: 15px;
}

.movie-item .rates .max-rate-point {
  float: right;
  font-size: 10px;
  margin-top: 10px;
}

@media (min-width: 400px) {
  .movie-item {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (min-width: 800px) {
  .movie-item {
    flex: 0 0 calc(25% - 20px);
  }
}

@media (min-width: 1200px) {
  .movie-item {
    flex: 0 0 calc(16.65% - 20px);
  }
}
