.movie-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  margin: 50px auto 15px auto;
  width: 80%;
}

.movie-poster {
  margin: 15px;
  height: 450px;
  width: 300px;
}

.movie-info {
  margin: 15px;
  height: 450px;
  width: calc(100% - 360px);
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 15px;
}

.movie-info h1 {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  text-align: center;
}

.movie-info p {
  padding: 10px;
}

.rating {
  display: inline-block;
  margin-top: -50px;
  text-align: center;
  width: 100%;

  .rate-point {
    color: MediumSeaGreen;
    font-family: 'Open Sans', sans-serif;
    font-size: 150px;
    font-weight: bolder;
  }

  .max-rate-point {
    color: MediumSeaGreen;
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-weight: lighter;
    margin-top: 70px;
  }

  p {
    color: Black;
    font-size: 13px;
    font-style: italic;
  }
}

hr {
  width: 80%;
}
